.card {
    text-align: center;
    max-width: 300px;
    padding: 10px;
}
.card__icon {
    color: var(--blue-light);
    font-size: 1.5rem;
    margin: 10px 0;
}
.card__title {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--blue-dark);
    margin: 0 0 2rem;
    position: relative;
}
.card__title::after {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    background: var(--blue-light);
    position: absolute;
    top: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}
.card__desc {
    color: var(--gray-text);
    line-height: 1.5;
    padding: 0 6px;
}
